.slider.light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #004D74, #003554);
  z-index: -1;
}

.slider.dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #032030, #022B42);
  z-index: -1;
}

.head.light {
  background: linear-gradient(to left, #004D74, #003554);
  border-radius: 1%;
}

.head.dark {
  background: linear-gradient(to left, #032030, #022B42);
  color: #fff;
  border-radius: 1%;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: #ffffff;
  align-items: center;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#logo:first-of-type {
  animation: showup 5s infinite;
}

#logo:last-of-type {
  width:0px;
  animation: reveal 20s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  border-radius: 1%;
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: #004D74; */
}

.hero:after {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.headline {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  color: #fff;
  z-index: 3;
}

.hamburger {
  justify-self: flex-end;
  height: 40px;
  width: 40px;
  margin-left: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.hamburger svg path {
  transform-origin: center;
  transition: all 0.6s ease;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.hamburger svg path.sun {
  stroke: rgb(7, 7, 7);
  transform: scale(1.2) rotate(60deg);
  opacity: 80;
}

.hamburger svg path.moon {
  stroke: rgb(255, 255, 255);
  opacity: 1;
}

.hamburger.switch svg path.sun {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

.hamburger.switch svg path.moon {
  transform: scale(0.4) rotate(-60deg);
  opacity: 0;
}