/*--------------------------------------------------*/
.page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.camera {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 #0b6477;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.instruccion {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 #0b6477;
}

.cards {
  display: flex;
  flex-direction:row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 #0b6477;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #45dfb1;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #213a57;
  color: white;
}

form {
  padding: 10px;
  flex-direction:column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 #0b6477;
}

.form-group{
  align-items: center;
  align-content: center;
}

.input-error {
  border: 2px solid red;
}

.input-success {
  border: 2px solid green;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}